.main__container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.link{
    text-decoration: none;
}

.select{
    width: 150px;
    margin-bottom: 15px;
}

.car__list{
    text-decoration: none;
}

.main{
    display: flex;
}